* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.main {
    margin-top: 90px;
}

.img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.w-50 {
    width: 50%;
}

.w-50 img {
    border-radius: 20px 0px 0px 20px;
}

.form {
    background-color: rgb(236, 236, 236);
    border-radius: 0px 20px 20px 0px;
    box-shadow: 2px 3px 2px grey;
}

.w-50 tr td {
    font-size: 20px;
    padding: 9px;
}

.country {
    padding: 10px 20px;
    font-size: 15px;
}

.form .btn {
    padding: 10px 50px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
}

.form input {
    padding: 7px;
}

.btn {
    background-color: #187bcd;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #1167b1;
    color: white;
}